
<% Review.where(place_id: @review.place_id).each do |review| %>
  <div class="form-item">
    <%= review.rating%>
    <%= review.comment%>
    <%= link_to 'Edit', edit_review_path(review) %>
    <br><br/>
  </div>
<% end %>
