/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';
.form-group {
    padding-bottom: 10px;
}
body {
    background: repeating-linear-gradient(to left, #e0eafc, #cfdef3);
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding-bottom: 20px;
    width: 80%;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.card-col {
    padding-top: 20px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.navbar-text {
    display: inline-block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 600px;
}
.header {
    text-align: center;
    margin-top: 50px;
}

.demo {
    margin: 0 auto;
    padding-top: 20px;
    max-width: 640px;
    width: 94%;
}

.nav-item {
    margin-left: 20px;
}

.navbar-link {
    color: white;
    margin-top: 300px;
    margin: 0 auto;
    padding-top: 64px;
    max-width: 640px;
    width: 94%;
}

#map {
    width: 600px;
    height: 400px;
}

.content {
    padding-left: 30px;
}

.logo_image {
    display: block;
    margin: auto;
}

.map_icon {
    float: right;
    margin-right: 10px;
}

.features {
    padding-left: 640px;
}

.keyword {
    display: inline-block;
    border: 3px;
    border-style: solid;
    border-color: #9999ff;
    padding: 1em;
}
